<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Review Reuse" horizontalAlignment="center"></Label>
</ActionBar>
<GridLayout rows="*, 50" columns="*">
  <GridLayout row="0" col="0" rows="120,50,*" columns="*">

    <GridLayout row="0" col="0" rows="40,40,40" columns="*" backgroundColor="#efefef">

      <GridLayout row="0" col="0" rows="*" columns="*" height="40" class="m-t-10 m-l-10 m-r-10 m-b-10" orientation="horizontal"
        backgroundColor="white">
        <!-- <Label class="p-l-10" row="0" col="0"  text="Contact Name" textWrap="false" horizontalAlignment="left"></Label> -->
        <TextField class="p-l-5 p-r-10" row="0" col="1" width="400" textWrap="true" hint="Contact Name" [(ngModel)]="this.contactName"
          horizontalAlignment="left"></TextField>
      </GridLayout>

      <GridLayout row="1" col="0" rows="*" columns="*" height="40" class="m-l-10 m-r-10" orientation="horizontal" backgroundColor="white">
        <!-- <Label class="p-l-10" row="0" col="0"  text="Email" textWrap="true" horizontalAlignment="left"></Label> -->
        <TextField class="p-l-5 p-r-10" row="0" col="1" width="400" textWrap="true" hint="Email" [(ngModel)]="this.confirmationEmail"
          horizontalAlignment="left"></TextField>
      </GridLayout>

      <GridLayout row="2" col="0" rows="*" columns="*" height="40" class="m-l-10 m-r-10 m-b-10" orientation="horizontal" backgroundColor="white">
        <!-- <Label class="p-l-10" row="0" col="0"  text="Comments" textWrap="true" horizontalAlignment="left"></Label> -->
        <TextView android:style="padding-left:5;" class="p-r-10" row="0" col="0" width="400" fontSize="17" textWrap="true" hint="Comment"
          [(ngModel)]="this.comments" horizontalAlignment="left"></TextView>
      </GridLayout>


    </GridLayout>


    <StackLayout orientation="vertical" row="1" col="0" height="50" horizontalAlignment="center" verticalAlignment="center">
      <Label class="font-weight-bold" [text]="this.requestedChassisCountMessage" color="#f8a61d" textWrap="false" verticalAlignment="center"
        horizontalAlignment="center"></Label>
      <Label verticalAlignment="center" class="font-weight-bold" horizontalAlignment="center" color="#f8a61d" text="Please press Submit to confirm."
        textWrap="false"></Label>
    </StackLayout>


    <RadListView row="2" col="0" #reviewReuseListView [items]="this.availableUnits" (itemTap)="onOrderItemTap($event)" class="list-group"
      selectionBehavior="None" separatorColor="#efefef" swipeActions="false">
      <ng-template tkListItemTemplate let-unit="item">
        <StackLayout class="list-group-item">
          <GridLayout rows="*, *, *, *" columns="*, *, *" class="list-group-item-content">
            <Label row="0" col="0" colSpan="5" [text]="unit.LocationName" class="text-primary font-weight-bold p-b-10"></Label>
            <Label horizontalAlignment="right" class="list-group-item-text m-r-5">
            </Label>

            <StackLayout row="1" col="0" colSpan="3" verticalAlignment="center">
              <Label class="p-b-10">
                <FormattedString ios:fontFamily="system">
                  <Span [text]="unit.LocationStreet1 + ' ' + unit.City + ', ' + unit.LocationStateProvince" class="text-primary" color="gray"></Span>
                </FormattedString>
              </Label>
              <Label class="p-b-10" textWrap="true">
                <FormattedString ios:fontFamily="system">
                  <Span [text]="'Hours: ' + unit.OperatingHours" class="text-primary" color="gray"></Span>
                </FormattedString>
              </Label>
            </StackLayout>

            <StackLayout row="2" col="0" colSpan="1" verticalAlignment="center" orientation="horizontal">
              <!-- <Label col="1" colSpan="1" class="p-b-10">                
                  <Span fontSize="14" [text]="unit.EquipmentTypeDescription" class="font-weight-bold"></Span>                
              </Label> -->
              <Label fontSize="14" class="font-weight-bold" [text]="unit.EquipmentTypeDescription" readOnly="true" color="gray"></Label>
            </StackLayout>


            <StackLayout row="2" col="1" colSpan="1" verticalAlignment="center" horizontalAlignment="center" orientation="horizontal">
              <Label fontSize="14" [text]="unit.ChassisId" class="font-weight-bold" readOnly="true" color="gray"></Label>
            </StackLayout>

            <StackLayout row="2" col="2" colSpan="1" verticalAlignment="center" horizontalAlignment="left" orientation="horizontal">
              <Label fontSize="14" class="font-weight-bold" [text]="unit.InventoryOrgDesc" color="gray"></Label>
            </StackLayout>

          </GridLayout>
        </StackLayout>
      </ng-template>
    </RadListView>


  </GridLayout>

  <Button textTransform="none" android:style="height:60;" row="1" col="0" class="btn btn-primary" text="Submit" (tap)="onSubmitReviewReuse()"
    verticalAlignment="center" horizontalAlignment="stretch"></Button>

</GridLayout>