<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Recover Password" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout margin="10" verticalAlignment="center">
        <StackLayout class="form" padding="15">
            <StackLayout class="input-field">
                <TextField class="input" hint="Username" [(ngModel)]="this.username" autocorrect="false"></TextField>                                        
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <StackLayout class="input-field">
                <TextField  class="input" hint="SCAC" [(ngModel)]="this.scac" autocorrect="false"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>                
            <Button class="btn btn-primary" text="Submit" (tap)="onRecoverPasswordSubmit()" [isEnabled]="this.username && this.scac ? 'true' : 'false'"></Button>                                         
        </StackLayout>
    </StackLayout>
</GridLayout>
