<ActionBar class="action-bar">
        <Label class="action-bar-title" text="Recover Password" horizontalAlignment="center"></Label>
      </ActionBar>
      
      <GridLayout class="page page-content">
          <StackLayout margin="10" verticalAlignment="center">
              <StackLayout class="form" padding="15">
                  <GridLayout class="input-field" rows="auto,auto" columns="auto,*">
                      <Label [color]="this.tracBlueHex" fontSize="20" col="0" row="0" class="fa p-b-5 m-r-10" text="&#xf2be;"></Label>
                      <TextField col="1" row="0" class="input" hint="Username" [(ngModel)]="this.username" autocorrect="false"></TextField>                                        
                      <StackLayout col="0" row="1" colSpan="2" class="hr-light"></StackLayout>
                  </GridLayout>

                  <GridLayout class="input-field" rows="auto,auto" columns="auto,*">
                        <Label [color]="this.tracBlueHex" fontSize="20" col="0" row="0" class="fa p-b-5 m-r-10" text="&#xf0ea;"></Label>
                        <TextField  col="1" row="0" class="input" hint="SCAC" [(ngModel)]="this.scac" autocorrect="false"></TextField>
                        <StackLayout col="0" row="1" colSpan="2" class="hr-light"></StackLayout>
                    </GridLayout>
                  <Button android:style="height:60;" class="btn btn-primary" text="Submit" (tap)="onRecoverPasswordSubmit()" [isEnabled]="this.username && this.scac && this.scac.length === 4 ? 'true' : 'false'"></Button>                                         
              </StackLayout>
          </StackLayout>
      </GridLayout>
      