
<ActionBar class="action-bar">

    <Label class="action-bar-title" [text]="title" android:horizontalAlignment="left"></Label>
    <ActionItem (tap)="onSearch()" icon="res://tabIcons/search" ios.position="right" text="Search" android.systemIcon="ic_menu_search"
        android.color="white"></ActionItem>    
    <!-- <ActionItem (tap)="onLogoutButtonTap()" ios.position="left" android.position="popup" text="Logout"></ActionItem> -->
    <ActionItem (tap)="onSettingsTap()" ios.position="left" android.position="popup" text="My Account" icon="res://user_male" android.systemIcon="organize"
        android.color="white"></ActionItem>
</ActionBar>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView #tabView (selectedIndexChanged)="onSelectedIndexChanged($event)" androidTabsPosition="bottom" android:selectedTabTextColor="#f8a61d" tabBackgroundColor="#ffffff" 
            android:tabTextColor="#005ABB" androidSelectedTabHighlightColor="#ffffff" ios:selectedTabTextColor="#005ABB">
    <StackLayout *tabItem="{title: 'Home', iconSource: getIconSource('home')}">
        <HomeTab></HomeTab>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Orders', iconSource: getIconSource('list')}">
        <DashboardTab></DashboardTab>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Booking', iconSource: getIconSource('book')}">
        <BookingTab></BookingTab>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Reuse', iconSource: getIconSource('refresh')}">
        <ReuseTab></ReuseTab>
    </StackLayout>
</TabView>