<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar> -->

<ActionBar class="action-bar">

    <Label class="action-bar-title" [text]="title" android:horizontalAlignment="left"></Label>
    <ActionItem (tap)="onSearch()" ios.systemIcon="12" ios.position="right" text="Search" android.systemIcon="ic_menu_search"
        android.color="white"></ActionItem>    
    <ActionItem (tap)="onLogoutButtonTap()" ios.position="left" android.position="popup" text="Logout"></ActionItem>
    <ActionItem (tap)="onMyAccountButtonTap()" ios.position="left" android.position="popup" text="My Account" icon="res://user" android.systemIcon="organize"
        android.color="white"></ActionItem>
</ActionBar>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)" androidTabsPosition="bottom">
    <StackLayout *tabItem="{title: 'Home', iconSource: getIconSource('home')}">
        <Home></Home>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Browse', iconSource: getIconSource('browse')}">
        <Browse></Browse>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Search', iconSource: getIconSource('search')}">
        <Search></Search>
    </StackLayout>
</TabView>