//ORIGINAL

// // Place any CSS rules you want to apply on both iOS and Android here.
// // This is where the vast majority of your CSS code goes.
// // Font icon class
// .fa {
//    font-family: "FontAwesome";
// }
// // Common page class
// .page-content {
//     .page-placeholder {
//         color: $page-icon-color;
//         font-size: $page-content-placeholder-font-size;
//         vertical-align: center;
//         horizontal-align: center;
//     }

//     .page-icon {
//         font-size: 72;
//         vertical-align: top;
//         horizontal-align: center;
//         color: $page-icon-color;
//         margin-top: 20%;
//     }
// }

// //Action bar
// ActionBar .action-bar-title {
//     horizontal-align: center;
// }


//NEW

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
//Font icon
.fa {
    font-family: "FontAwesome";
 }
 //Updating for nativescript-ng2-fonticon package
 // .fa {
 //     font-family: FontAwesome, fontawesome-webfont;
 //   }
 //Action bar
 .action-item,
 NavigationButton {
     color: $ab-color;
 }
 
 .action-item:disabled {
     color: rgba($ab-color, 0.5);
 }
 
 Slider {
   background-color: $accent;
   color: $accent;  
 }
 
 Label{
     font-size: 14px;
 }
 
 .text {
     color: $blue-dark;
     font-size: 14px;
 }
 
 .text-primary {
     color: $accent-dark;
     font-size: 14px;
 }
 
 .text-secondary {
     color: $blue-50;
     font-size: 14px;
 }
 
 .btn-primary{
     background-color:#3D70B9;
     font-size: 14px;
 }
 
 .btn-danger{
     background-color: red;
     font-size: 14px;
     color: white;
 }
 
 
 
 .btn-primary:disabled{
     background-color: lighten(#3D70B9, 5%);    
     font-size: 14px;
     color:gray;
 }
 
 .btn-danger:disabled{
     background-color: lighten(red, 5%);
     font-size: 14px;
     color:gray;
 }
 .bordered{        
     border-bottom-width: 3px;
     border-bottom-color: red;
 }
 
 //Swipe Actions Styles
 
 .listItemStackLayout {
     background-color: white;
     padding-left: 5;
 }
 
 .labelName {
     font-size: 20;
     margin-bottom: 8;
 }
 
 .labelTitle {
     font-size: 14;
     font-weight: bold;
 }
 
 .labelText {
     font-size: 12;
 }
 
 .markGridLayout {
     background-color: #0099ff;
     padding: 16;
 }
 
 .archiveGridLayout {
     background-color: #ffcc99;
     padding: 16;
 }
 
 .unreadGridLayout {
     background-color: #ff3300;
     padding: 16;
 }
 
 .deleteGridLayout {
     background-color: red;
     padding: 16;
 }
 
 .readGridLayout {
     background-color: #ff66ff;
     padding: 16;
 }
 
 .forwardGridLayout {
     background-color: #9966ff;
     padding: 16;
 }
 
 .swipetemplateLabel {
     font-size: 15;
 }
 
 @keyframes validationPopin {
     from { background-color: transparent; color:transparent }
     to { background-color: white; color: red }
 }
 .validationMessage {
     animation-name: validationPopin;
     animation-duration: 2s;
     animation-fill-mode: forwards;
 }