// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here


.action-item {
  padding-right: 10;
}

#login-page{
  background-image: url("res://loginscreen");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top:-50;
}

.action-bar.p-10{
  margin-top:-30;  
  padding-top:40;
  //background-color:rgb(61,112,185);
}