<GridLayout columns="*" rows="*,auto" class="page page-content" backgroundColor="#efefef">
    <ScrollView>

        <StackLayout col="0" row="0" class="form m-r-10 m-l-10 m-t-10">
            <GridLayout rows="*" columns="*,*" backgroundColor="white" class="p-10 m-b-10">
                <Label row="0" col="0" text="Pick Up Date" textWrap="false" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField row="0" col="1" class="text-default" [text]="this.reuseSearchModel.PickUpDate | date:'MM/dd/yyyy'" isEnabled="false"
                    color="gray" horizontalAlignment="left"></TextField>
            </GridLayout>

            <GridLayout rows="30" columns="*" backgroundColor="white" class="p-10 m-b-10">
                <GridLayout row="0" col="0" rows="*" columns="auto,*" orientation="horizontal" horizontalAlignment="stretch">
                    <Label fontSize="20" [visibility]="!this.reuseSearchModel.ResponsiblePartyType ? 'visible' : 'collapsed'" row="0" col="0" color="red" text="*"></Label>
                    <FilterSelect id="reuseResponsiblePartyTypeFilterSelect" row="0" col="1" horizontalAlignment="left" verticalAlignment="center"
                        [items]="responsiblePartyTypeSelectList" (change)="onResponsiblePartyTypeSelected($event)" allowSearch="false"
                        render="drop" multiple="false" hint="Select Responsible Party Type " modal_title="Responsible Party Type"
                        searchHint="Select Responsible Party Type" closeText="Back" clearText="Clear" item_template="{{item_template}}"
                        search_param="name" primary_key="id">
                    </FilterSelect>
                </GridLayout>
            </GridLayout>

            <GridLayout rows="30" columns="*" backgroundColor="white" class="p-10 m-b-10">
                <GridLayout row="0" col="0" rows="*" columns="auto,*" orientation="horizontal" horizontalAlignment="stretch">
                    <Label fontSize="20" [visibility]="!this.reuseSearchModel.ResponsiblePartyId ? 'visible' : 'collapsed'" row="0" col="0" color="red" text="*"></Label>
                    <FilterSelect id="reuseResponsiblePartyFilterSelect" row="0" col="1" horizontalAlignment="left" verticalAlignment="center"
                        [items]="responsiblePartySelectList" (change)="onResponsiblePartySelected($event)" render="drop" multiple="false"
                        hint="Select Responsible Party " modal_title="Responsible Party" searchHint="Select Responsible Party"
                        closeText="Back" clearText="Clear" item_template="{{item_template}}" search_param="name" primary_key="id">
                    </FilterSelect>
                </GridLayout>
            </GridLayout>

            <GridLayout rows="30" columns="*" backgroundColor="white" class="p-10 m-b-10">
            <GridLayout row="0" col="0" rows="*" columns="auto,*" orientation="horizontal" horizontalAlignment="stretch">
                    <Label fontSize="20" [visibility]="!this.reuseSearchModel.MarketCode ? 'visible' : 'collapsed'" row="0" col="0" color="red" text="*"></Label>
                    <FilterSelect id="reuseMarketFilterSelect" row="0" col="1" horizontalAlignment="left" verticalAlignment="center" [items]="marketFilterSelectList"
                        (change)="onMarketItemSelected($event)" render="drop" multiple="false" hint="Select Market " modal_title="Market"
                        searchHint="Select Market" closeText="Back" clearText="Clear" item_template="{{item_template}}" search_param="name"
                        primary_key="id">
                    </FilterSelect>
                </GridLayout>
            </GridLayout>

            <GridLayout rows="30" columns="*" backgroundColor="white" class="p-10 m-b-10">
                <GridLayout row="0" col="0" rows="*" columns="auto,*" horizontalAlignment="stretch">
                    <Label fontSize="20" [visibility]="!this.reuseSearchModel.MotorCarrier ? 'visible' : 'collapsed'" row="0" col="0" color="red" text="*"></Label>
                    <FilterSelect id="reuseMotorCarrierFilterSelect" row="0" col="1" horizontalAlignment="left" verticalAlignment="center" [items]="motorCarrierFilterSelectList"
                        (change)="onMotorCarrierSelected($event)" render="drop" multiple="false" hint="Select Motor Carrier "
                        modal_title="Motor Carrier" searchHint="Select Motor Carrier" closeText="Back" clearText="Clear" item_template="{{item_template}}"
                        search_param="name" primary_key="id">
                    </FilterSelect>
                </GridLayout>>
            </GridLayout>

            <GridLayout rows="*" columns="*" colSpan="2" backgroundColor="white" class="p-10">
                <GridLayout row="0" col="0" rows="*" columns="auto,*,*" backgroundColor="white" class="p-10" [class]="!this.formIsValid && this.reuseSearchModel.ResponsiblePartyType == 'STEAMSHIP' && !this.reuseSearchModel.BookingNumber && this.displayValidationErrors ? 'bordered' : ''">
                    <Label [visibility]="!this.formIsValid ? 'visible' : 'collapsed'" fontSize="20" row="0" col="0" color="red" text="*"></Label>
                    <Label row="0" col="1" text="Booking/BOL Number" textWrap="false" horizontalAlignment="left" verticalAlignment="center"></Label>
                    <TextField width="200" row="0" col="2" class="text-default booking-text" [(ngModel)]="this.reuseSearchModel.BookingNumber"
                        horizontalAlignment="left" hint="Number"></TextField>
                </GridLayout>
            </GridLayout>            
        </StackLayout>
    </ScrollView>
    <Button col="0" row="1" textTransform="none" text="Check Availability" width="100%" class="btn btn-primary m-b-0" (tap)="searchSubmit()" [isEnabled]="this.formIsValid"></Button>        
</GridLayout>