<GridLayout class="page page-content">
    <StackLayout marginTop="15%">
        <Image [src]="logoImageSrc" class="m-b-20"></Image>   
        <Label text='"Customer Centric Technology"' class="m-b-20" fontSize="16"  color="gray" textWrap="false" horizontalAlignment="center"></Label>        
        <Label text="Daily Chassis Rentals From the" color="gray" fontSize="16" textWrap="false" horizontalAlignment="center"></Label>        
        <Label text="Nation's Leading Chassis Provider" color="gray" fontSize="16" textWrap="false" horizontalAlignment="center"></Label>        

    </StackLayout>

</GridLayout>